*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*Layout index*/

.contenedor{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 5% 45% 45% 5%;
    grid-template-areas: "header header header header"
                        "espacioBlanco1 main main espacioBlanco2"
                        "footer footer footer footer";
    justify-content: center;
    align-items: center;
    background-color: rgb(189, 184, 184);
   
}

.flexRow{
    display: flex;
    flex-direction: row;
}

.flexColumn{
    display: flex;
    flex-direction: column;
}



/*propiedades de encabezado general*/

header{
    grid-area: header;
    padding: 10px 10px 10px 10px;
    background-image: url('../img/amolado.jpg');
    background-position: center;
    background-repeat: no-repeat;
 
}

header h1{
    text-align: end;
    font-size: 25px;
    color: azure;
}

header nav{    
    padding: 10px;
    margin: 1px 20px 50px 10px;
    text-align: start;
}

header nav ul li{
   margin: 10px;
   list-style: none;
   margin: 2rem;
   
}

header nav ul li:hover{
    transform: scale(1.2);
    color: white;
    
}

.botonNavPrincipal :hover{
    color: white;
}

header nav ul li a:hover{
    color: white;
    
}



header div a img:hover{
    transform: scale(1.05);
    
}

.logo{
    text-align: center;
}

.botonNavPrincipal{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    background-color: rgb(17, 18, 19);
    border: 2px solid gray;
    border-radius: 100px;
    padding: 10px;

}




.tituloLemaEmpresa{
    font-size: 15px;
    text-align: end;
    color: aliceblue;
    margin-right: 30px;
    
}

.lemaEmpresa{
    font-style: italic;
    font-weight: bold;
    color: azure;
    text-align: end;
}

.menu{
    
    margin-left: 15px;
}


.logoMenu{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 5rem;
    
}

/*propiedades del main - index */
/*imagenes de presentacion*/
main{
    grid-area: main;
    background-color: rgb(189, 184, 184);
    padding-top: 10px;
}

.espacioBlanco1{
    grid-area: espacioBlanco1;
    background-color: rgb(189, 184, 184);
}

.espacioBlanco2{
    grid-area: espacioBlanco2;
    background-color: rgb(189, 184, 184);
}


.sectionImgPresentacion{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px 50px 10px 50px;
}

.imgPresentacion:hover{
    transform: scale(1.1);
   
}

.imgPresentacion{
    margin: 10px; 
    width: 300px;
    height: 200px;  
}

.noVisible{
    display: none;
}

.noVisible1{
    display: none;
}
/*noticias*/

.cajaNoticiasGeneral{
    display: flex;
    flex-direction: column;
}


.sectionNoticias{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to left, rgb(59, 58, 78), rgb(139, 151, 219));
    padding: 0px 20px 20px 20px;
}

.noticias{
    text-align: center;
    margin: 50px 10px 10px 10px;
    padding: 10px;
}
.cajaNoticias:hover{
    transform: scaleY(1.035);
}
.cajaNoticias{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(171, 169, 187);
    border: 2px solid gray;
    padding: 10px 30px 30px 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.infoNoticias{
    text-align: center;
    margin: 10px;
}


.botonVerTodas{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: gray;
    border: 1px transparent solid;
    border-radius: 100px;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 10px;
    
}

/*empresas aliadas*/

.cajaEncabezadoLogoEmpresas{
    text-align: center;
    padding-top: 50px;
}

.cajaLogosEmpresas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    gap: 5px;
    border: 2px solid black;
    text-align: center;
    margin-bottom: 1rem;
    padding: 0.5rem 0.2rem 0.5rem 0.2rem;
    
}

.imgLogos{
    width: 7rem;
    height: auto;
    border: 1px solid gray;
}

/*pie de pagina*/
/*contacto cv*/ 

footer{
    grid-area: footer;
}

.cajaContactoCV{
    animation-name: aparecer;
    animation-iteration-count: infinite;
    animation-duration: 1s; 
    background-color: white;
    text-align: center;  
    padding: 20px;
    border: 1px gray solid;
}

@keyframes aparecer{

    from{
        transform: scale(0.95);
    }
    to{
        transform: scale(1);
    }
}



 
.contactoCVtrabajaConNosotros{
    font-size: 15px;
    color: gray;
}

.contactoCVenviaTuCV{
    font-weight: bold;
}

.contactoCVmail{
    text-decoration: none;
    color: blue;

}

/*derechos de autor*/

.cajaDerechosDeAutor{
    background-color: rgb(73, 73, 151);
    font-size: 0.75rem;
    text-align: center;
    color: black;
    padding: 10px;

}






/*sobre nosotros*/

.headerSobreNosotros{
    background-image: url('../img/Perspectiva.jpg');
    background-repeat: no-repeat;
    background-size: 700px 900px ;
    
}

.baseCajasInformacion1{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 50px;
    margin: 30px 30px 30px 30px;
    padding: 30px;
    background-color: gray;
    
    
}

.baseCajasInformacion2{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 50px;
    margin: 30px 30px 30px 30px;
    padding: 30px;
    background-color: rgb(189, 188, 188);
   
    
}

.baseCajaHistoria{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 5px solid gray;
    margin: 30px 30px 30px 30px;
    padding: 15px;
    background-image: linear-gradient(to left, rgb(199, 198, 207), rgb(170, 170, 175));
    
   
    
}

.baseCajaMisionVision{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 5px solid gray;
    margin: 30px 30px 30px 30px;
    padding: 15px;
    background-image: linear-gradient(to left, rgb(199, 198, 207), rgb(170, 170, 175));
    
}

.cajaMisionVision{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid gray;
    padding: 10px 30px 30px 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}




.infoCajasInformacion{
   /*  text-align: start; */
    margin: 15px;
    text-align: center;
   
}

.imgSobreNosotros{
    float:initial;
    margin: 5px;
}

.divImgSobreNosotros{
    text-align: center;
}

.tituloValores{
    text-align: center;
}


/*servicios*/

.cajaServicios{
    display: flex;
    flex-direction: column;
    
    border-left: 5px solid gray;
    border-bottom: 5px gray solid;
    margin: 10px;
    
}


.infoServicios{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}

.encabezadoServicios{
    background-color: rgb(110, 110, 173) ;
    text-align: center;
}


/*industrias*/

.layoutIndustrias{
    display: flex;
    flex-direction: column;
}

.cajaIndustrias{
    display: flex;
    flex-direction: column; 
    border-left: 5px solid gray;
    border: 5px gray solid;
    margin: 10px;
    

}


/*Contacto*/
/* propiedades del header*/
.headerContacto{
    background-image: url('../img/entrada.jpg');
    background-repeat: no-repeat;
    background-size: 600px 900px;
    
}


/* propiedades del main*/


.contacto{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-content: center;
}

/*propiedades del formulario*/


.itemFormulario{
    padding: 15px;
    margin: 15px;
}

.formulario{
    display: flex;
    flex-direction: column;
    text-align: initial;
    margin: 30px;
    background-color: rgb(147, 172, 172);
    overflow: scroll;
   
    
}

.input{
    font-size: 15px;
}

.botonFormulario{
    font-size: 20px;
    background-color:  gray;
    margin: 25px;
    padding: 10px;
    border-radius: 50px;

}

.inputSuMensaje{
    overflow:scroll;
    font-size: 15px;
    text-align: start;
    height: 100px;
  
}

.datosUbicacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.datos{
    font-size: 15px;
    color: gray;
    font-weight: bold;
    margin-top: 10px;
}

.imgUbicacion{
    border: 2px solid gray;
}

.comoLlegar{
    font-size: 1.2rem;
    font-weight: bold;
}




@media only screen and (min-width:600px){

    /* adaptacion de header */
    header{
        grid-area: header;
        padding: 10px 10px 10px 10px;
        background-image: url('../img/amolado.jpg');
        background-position: center;
        background-size: cover;  
        background-repeat: no-repeat;
        
    }

    header h1{
        text-align: end;
        font-size: 40px;
        color: azure;
    }

    header nav ul li{
        margin: 5px;
        list-style: none;
        display: inline-block;
    }

    div header div img{
        width: 150px;
        height: 40px;
    }
    header div a img:hover{
        transform: scale(1.3);
    }
    

    .logoMenu{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        height: 40px;
        margin-top: 0px;
        margin-bottom: 500px;
        
    }


    
    .botonNavPrincipal{
        text-decoration: none;
        color: white;
        font-size: 1.05rem;
        background-color: rgb(17, 18, 19);
        border: 2px gray solid;
        border-radius: 100px;
        padding: 5px;
    
    }

    .tituloLemaEmpresa{
        font-size: 15px;
        text-align: end;
        color: aliceblue;
        margin-bottom: 100px;
        margin-right: 30px;
        
    }

    div header div img{
        width: 200px;
        height: 40px;
    }


    /* adaptaciones imagenes pagina principal */
    .sectionImgPresentacion{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 10px 50px 10px 50px;
    }
    

    .imgPresentacion{
        margin: 10px; 
        width: 300px;
        height: 180px;  
    }

    .noVisible{
        display: inline-block;
    }

    /*adapatacion seccion noticias en pagina principal */
    .cajaNoticiasGeneral{
        display: flex;
        flex-direction: column;
    }
    

    .cajaNoticias{
        display: flex;
        flex-direction: row ;
        background-color: rgb(171, 169, 187);
        border: 2px solid gray;
        padding: 10px 30px 30px 30px;
        margin: 10px;
        
    }

    /*sobre nosotros*/
    .headerSobreNosotros{
        grid-area: header;
        background-image: url('../img/Perspectiva.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        
    }

    .layoutValores{
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-content: flex-start;
    }
    
    .layoutInfoValores{
        display: flex;
        flex-direction: column;
        align-content: flex-start;
    }

 

    .cajaMisionVision{
        display: flex;
        flex-direction: column ;
        align-items: center;
        border: 2px solid gray;
        padding: 10px 30px 30px 30px;
      margin: 10px;
    }
    .imgSobreNosotros{
        float: right;
        margin: 5px;
    }

  


    /* adaptacion de cajas de informacion general */

    .baseCajasInformacion1{
        display: flex;
        flex-direction: column;
        align-items: initial;
        border: 2px solid transparent;
        border-radius: 50px;
        margin: 30px 30px 30px 30px;
        padding: 30px;
        background-color: gray;
        
        
    }

    .baseCajasInformacion2{
        display: flex;
        flex-direction: row;
        border: 2px solid transparent;
        border-radius: 50px;
        margin: 30px 30px 30px 30px;
        padding: 30px;
        background-color: rgb(189, 188, 188);
        gap: 10px;
        
    }

    .baseCajaHistoria{
        display: flex;
        flex-direction: row;
        border: 2px solid transparent;
        border-left: 5px solid gray;
        margin: 30px 30px 30px 30px;
        padding: 15px;
        
    }

    .infoCajasInformacion{
        text-align: start;
        margin: 15px;
    }

    /*adpatacion servicios*/


        

    .infoServicios{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .cajaServicios{
        display: flex;
        flex-direction: column;
        border-left: 5px solid gray;
        margin: 10px;
    }

 
    



    .layoutServicios{
        display: flex;
        flex-direction: row;

    }

    .layout{
        display: flex;
        flex-direction: column;
         
    } 

 
    /*contacto*/
    .headerContacto{
        background-image: url('../img/entrada.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .baseCajasInformacion1{
        display: flex;
        flex-direction: column;
        align-items: initial;
        border: 2px solid transparent;
        border-radius: 50px;
        margin: 30px 30px 30px 30px;
        padding: 30px;
        background-color: gray;
        
        
    }

    /* adapatacion de datos empresa*/
    .datos{
        font-size: 20px;
        color: gray;
        font-weight: bold;
        margin: 40px;
    }

    .imgUbicacion{
        width: 500px;
        height: 300px;
    }
    
 
}


@media only screen and (min-width:1024px){

    .contenedor{
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 10% 40% 40% 10%;
        grid-template-areas: "header header header header"
                            "espacioBlanco1 main main espacioBlanco2"
                            "footer footer footer footer";
        justify-content: center;
        align-items: center;
       
    }
    
    /* adaptacion de header */
    
    header nav ul li{
        margin: 10px;
        list-style: none;
        display: inline-block;
    }

    header div a img:hover{
        transform: scale(1.3) translateX(40px);
    }
   

    .logoMenu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        margin-top: 15px;
       
        
    }



    .tituloLemaEmpresa{
        font-size: 15px;
        text-align: end;
        color: aliceblue;
        margin-bottom: 150px;
        margin-right: 50px;
        
    }
    .botonNavPrincipal{
        text-decoration: none;
        color: white;
        font-size: 19px;
        background-color: rgb(17, 18, 19);
        border-radius: 100px;
        padding: 10px;
    
    }

    .noVisible1{
        display: inline-block;
    }


    
    /*noticias*/

    .cajaNoticiasGeneral{
        display: flex;
        flex-direction: column;
    }

    .cajaNoticias{
        display: flex;
        flex-direction: row;
        
        background-color: rgb(171, 169, 187);
        border: 2px solid gray;
        padding: 10px 20px 20px 20px;
        margin: 10px;
        
    }



    /*servicios*/

     /*adpatacion servicios*/
     .infoServicios{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .cajaServicios{
        display: flex; 
        flex-direction: column;
        border-left: 5px solid gray;
        margin: 10px;
    }



    .layoutServicios{
        display: flex;
        flex-direction: row;
        
       
    }

    .layout{
        display: flex;
        flex-direction: column;
    }


     /*contacto*/


     .contacto{
        display: flex;
        flex-direction: row;
        justify-content: baseline;
    
     }

   
     .formulario{
        display: flex;
        flex-direction: column;
        text-align: initial;
        margin: 30px;
        background-color: rgb(147, 172, 172);
        overflow: scroll;
        width: 600px;
       
        
    }
   


}