
@import "utilities/extensiones";

@media only screen and (min-width:1024px){

    
    .contenedor{
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 5% 45% 45% 5%;
        grid-template-areas: "header header header header"
                            "espacioBlanco1 main main espacioBlanco2"
                            "footer footer footer footer";
        justify-content: center;
        align-items: center;
        background-color: $colorFondo;
    




        /*propiedades del index*/

        /*hedader*/

        header{
            grid-area: header;
            padding: 10px 10px 10px 10px;
            background-image: map-get($map: $index, $key: imgIndex);
            background-position: center;
            background-size: cover;  
            background-repeat: no-repeat;

            .logoMenu{
                @include flexRow;
                justify-content: space-between;
                align-items: baseline;
                margin-top: 15px;
                

                .logo{
                    text-align: center; /*clase .logo*/

                    img{
                        width: 150px;
                        height: 40px;
                    
                        &:hover{
                            transform: scale(1.3) translateX(40px);
                            }
                    }
                }
            

                .menu{
                    padding: 10px;
                    margin: 1px 15px 50px 10px;
                    text-align: start;

                    ul li{
                        margin: 10px;
                        list-style: none;
                        display: inline-block;
                        &:hover{
                            transform: scale(1.2);
                            color: white;
                                
                                }
                            
                        .botonNavPrincipal{
                            text-decoration: none;
                            color: white;
                            font-size: 19px;
                            background-color: rgb(17, 18, 19);
                            border-radius: 100px;
                            padding: 10px;
                            &:hover{
                                color: white;                    
                                    }
                            
                        }
                    }
                }
            }

            .tituloLemaEmpresa{
                font-size: 15px;
                text-align: end;
                color: aliceblue;
                margin-bottom: 150px;
                margin-right: 50px;

                h1{
                    text-align: end;
                    font-size: 40px;
                    color: azure;
                }
                
                .lemaEmpresa{
                    font-style: italic; /*clase .lemaEmpresa*/
                    font-weight: bold;
                    color: azure;
                    text-align: end;
                }
            }

            
        }
            



        /*espacion en blanco index*/

        .espacioBlanco1{
            grid-area: espacioBlanco1;
            background-color: $colorFondo;
        }

        .espacioBlanco2{
            grid-area: espacioBlanco2;
            background-color: $colorFondo;
        }

        /*main index*/

        main{
            grid-area: main;
            background-color: $colorFondo;
            padding-top: 10px;

            .sectionImgPresentacion{
                @include flexRow;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                margin: 10px 50px 10px 50px;

                .imgPresentacion{
                    margin: 10px; 
                    width: 300px;
                    height: 180px; 

                    &:hover{
                        transform: scale(1.1);
                    
                    }
                }

                .noVisible{
                    display: inline-block;
                }

            
            }

            .sectionNoticias{

                .noticias{
                    text-align: center;
                    margin: 50px 10px 10px 10px;
                    padding: 10px;
                }

                .cajaNoticiasGeneral{
                    display: flex;
                    flex-direction: column;

                    .cajaNoticias{
                        @include flexRow;               
                        background-color: rgb(171, 169, 187);
                        border: 2px solid gray;
                        padding: 10px 20px 20px 20px;
                        margin: 10px;

                        &:hover{
                            transform: scaleY(1.035);
                        }

                        .infoNoticias{
                            text-align: center;
                            margin: 10px;
                        }
                    }
                }

                .infoNoticias{
                    text-align: center;
                    margin: 10px;

                    .botonVerTodas{
                        display: inline-block;
                        text-align: center;
                        text-decoration: none;
                        color: black;
                        background-color: gray;
                        border: 1px transparent solid;
                        border-radius: 100px;
                        padding: 10px;
                        font-weight: bold;
                        margin-bottom: 10px;
            
                    }
                }


            }

            .sectionLogos{

                .cajaEncabezadoLogoEmpresas{
                    text-align: center;
                    padding-top: 50px;
                }

                .cajaLogosEmpresas{
                    @include flexRow;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-content: space-between;
                    gap: 5px;
                    border: 2px solid black;
                    text-align: center;
                    margin-bottom: 1rem;
                    padding: 0.5rem 0.2rem 0.5rem 0.2rem;

                    .imgLogos{
                        width: 7rem;
                        height: auto;
                        border: 1px solid gray;
                    }

                    .noVisible{
                        display: none;
                    }
                    
                }

            }
        }

        /*footer index. Es el mismo para todas las paginas*/

        footer{
            grid-area: footer;

            .cajaContactoCV{
                @keyframes aparecer{

                    from{
                        transform: scale(0.95);
                    }
                    to{
                        transform: scale(1);
                    }
                }
                animation-name: aparecer;
                animation-iteration-count: infinite;
                animation-duration: 1s; 
                background-color: white;
                text-align: center;  
                padding: 20px;
                border: 1px gray solid;

                .contactoCVtrabajaConNosotros{
                    font-size: 15px;
                    color: gray;
                }
                
                .contactoCVenviaTuCV{
                    font-weight: bold;
                }
                
                .contactoCVmail{
                    text-decoration: none;
                    color: blue;     
                }      
            }

            .cajaDerechosDeAutor{
                background-color: rgb(73, 73, 151);
                font-size: 0.75rem;
                text-align: center;
                color: black;
                padding: 10px;   
            }
        }


            
        /*sobre nosotros*/

        /*header sobre nosotros*/

        .headerSobreNosotros{
            grid-area: header;
            padding: 10px 10px 10px 10px;
            background-image: map-get($map: $sobreNosotros, $key: imgSobreNosotros);
            background-repeat: no-repeat;
            background-size: cover;

            .logoMenu{
                @include flexRow;
                justify-content: space-between;
                align-items: baseline;
                margin-top: 15px;
                

                .logo{
                    text-align: center; /*clase .logo*/

                    img{
                        width: 150px;
                        height: 40px;
                    
                    &:hover{
                        transform: scale(1.3) translateX(40px);
                        }
                    }
                }
            

                .menu{
                    padding: 10px;
                    margin: 1px 15px 50px 10px;
                    text-align: start;

                    ul li{
                        margin: 10px;
                        list-style: none;
                        display: inline-block;
                        &:hover{
                            transform: scale(1.2);
                            color: white;
                                
                                }
                            
                        .botonNavPrincipal{
                            text-decoration: none;
                            color: white;
                            font-size: 19px;
                            background-color: rgb(17, 18, 19);
                            border-radius: 100px;
                            padding: 10px;
                            &:hover{
                                color: white;                    
                                    }
                            
                        }
                    }
                }

            }

            .tituloLemaEmpresa{
                font-size: 15px;
                text-align: end;
                color: aliceblue;
                margin-bottom: 150px;
                margin-right: 50px;

                h1{
                    text-align: end;
                    font-size: 40px;
                    color: azure;
                }
                
                .lemaEmpresa{
                    font-style: italic; /*clase .lemaEmpresa*/
                    font-weight: bold;
                    color: azure;
                    text-align: end;
                }
            }

            
        }


        /*main sobre nosotros*/



        .baseCajaHistoria{
            @include flexRow;
            border: 2px solid transparent;
            border-left: 5px solid gray;
            @include baseCajaSobreNosotros;

            .infoCajasInformacion{
                text-align: start;
                margin: 15px;

                .imgSobreNosotros{
                    float: right;
                    margin: 5px;
                }

            }
        }

        .baseCajaMisionVision{
            @include flexColumn;
            align-items: center;
            border-left: 5px solid gray;
            @include baseCajaSobreNosotros;

            .cajaMisionVision{
                @include flexColumn;
                align-items: center;
                border: 2px solid gray;
                padding: 10px 30px 30px 30px;
                margin: 10px;
            }

            .tituloValores{
                text-align: center;
            }

            .layoutValores{
                @include flexRow;
                gap: 10px;
                align-content: flex-start;

                .layoutInfoValores{
                    @include flexColumn;
                    align-content: flex-start;

                    .infoCajasInformacion{
                        margin: 15px;
                        text-align: center;
                    }
                }
            }


        }

        /*propiedades de servicios */

        /*header servicios*/

        .headerServicios{
            grid-area: header;
            padding: 10px 10px 10px 10px;
            background-image: map-get($map: $servicios, $key: imgServicios);
            background-position: center;
            background-size: cover;  
            background-repeat: no-repeat;

            .logoMenu{
                @include flexRow;
                justify-content: space-between;
                align-items: baseline;
                margin-top: 15px;
                

                .logo{
                    text-align: center; /*clase .logo*/

                    img{
                        width: 150px;
                        height: 40px;
                    
                        &:hover{
                            transform: scale(1.3) translateX(40px);
                            }
                    }
                }
            

                .menu{
                    padding: 10px;
                    margin: 1px 15px 50px 10px;
                    text-align: start;

                    ul li{
                        margin: 10px;
                        list-style: none;
                        display: inline-block;
                        &:hover{
                            transform: scale(1.2);
                            color: white;
                                
                                }
                            
                        .botonNavPrincipal{
                            text-decoration: none;
                            color: white;
                            font-size: 19px;
                            background-color: rgb(17, 18, 19);
                            border-radius: 100px;
                            padding: 10px;
                            &:hover{
                                color: white;                    
                                    }
                            
                        }
                    }
                }
            }

            .tituloLemaEmpresa{
                font-size: 15px;
                text-align: end;
                color: aliceblue;
                margin-bottom: 150px;
                margin-right: 50px;

                h1{
                    text-align: end;
                    font-size: 40px;
                    color: azure;
                }
                
                .lemaEmpresa{
                    font-style: italic; /*clase .lemaEmpresa*/
                    font-weight: bold;
                    color: azure;
                    text-align: end;
                }
            }

            
        }


        /*main servicios*/

        .layout{
            @include flexColumn;

            .layoutServicios{
                @include flexRow;
                
                .cajaServicios{
                    @include flexColumn;
                    border-left: 5px solid gray;
                    margin: 10px;

                    .encabezadoServicios{
                        background-color: $colorEncabezado ;
                        text-align: center;
                    }

                    .infoServicios{
                        @include flexRow;
                        gap: 10px;

                        
                    }
                }
            }
        }

        /*propiedades de industrias*/

        /*header de indutrias*/

        .headerIndustrias{
            grid-area: header;
            padding: 10px 10px 10px 10px;
            background-image: map-get($map: $industrias, $key: imgIndustrias);
            background-position: center;
            background-size: cover;  
            background-repeat: no-repeat;

            .logoMenu{
                @include flexRow;
                justify-content: space-between;
                align-items: baseline;
                margin-top: 15px;
                

                .logo{
                    text-align: center; /*clase .logo*/

                    img{
                        width: 150px;
                        height: 40px;
                    
                        &:hover{
                            transform: scale(1.3) translateX(40px);
                            }
                    }
                }
            

                .menu{
                    padding: 10px;
                    margin: 1px 15px 50px 10px;
                    text-align: start;

                    ul li{
                        margin: 10px;
                        list-style: none;
                        display: inline-block;
                        &:hover{
                            transform: scale(1.2);
                            color: white;
                                
                                }
                            
                        .botonNavPrincipal{
                            text-decoration: none;
                            color: white;
                            font-size: 19px;
                            background-color: rgb(17, 18, 19);
                            border-radius: 100px;
                            padding: 10px;
                            &:hover{
                                color: white;                    
                                    }
                            
                        }
                    }
                }
            }

            .tituloLemaEmpresa{
                font-size: 15px;
                text-align: end;
                color: azure;
                margin-bottom: 150px;
                margin-right: 50px;

                h1{
                    text-align: end;
                    font-size: 40px;
                    color: azure;
                }
                
                .lemaEmpresa{
                    font-style: italic; /*clase .lemaEmpresa*/
                    font-weight: bold;
                    color: azure;
                    text-align: end;
                }
            }

            
        }

        /*main de indsutrias*/

        .layoutIndustrias{
            @include flexColumn;

            .cajaIndustrias{
                @include flexColumn;
                border-left: 5px solid gray;
                border: 5px gray solid;
                margin: 10px;

                .encabezadoServicios{
                    background-color: $colorEncabezado ;
                    text-align: center;
                }

                .infoServicios{
                    @include flexColumn;
                    gap: 10px;
                    margin: 10px;

                }

            }

        }

        /*propiedades de contacto*/

        /*header contacto*/


        .headerContacto{
            grid-area: header;
            padding: 10px 10px 10px 10px;
            background-image: map-get($map: $contacto, $key: imgContacto);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

            .logoMenu{
                @include flexRow;
                justify-content: space-between;
                align-items: baseline;
                margin-top: 15px;
                

                .logo{
                    text-align: center; /*clase .logo*/

                    img{
                        width: 150px;
                        height: 40px;
                    
                        &:hover{
                            transform: scale(1.3) translateX(40px);
                            }
                    }
                }
            

                .menu{
                    padding: 10px;
                    margin: 1px 15px 50px 10px;
                    text-align: start;

                    ul li{
                        margin: 10px;
                        list-style: none;
                        display: inline-block;
                        &:hover{
                            transform: scale(1.2);
                            color: white;
                                
                                }
                            
                        .botonNavPrincipal{
                            text-decoration: none;
                            color: white;
                            font-size: 19px;
                            background-color: rgb(17, 18, 19);
                            border-radius: 100px;
                            padding: 10px;
                            &:hover{
                                color: white;                    
                                    }
                            
                        }
                    }
                }

            }

            .tituloLemaEmpresa{
                font-size: 15px;
                text-align: end;
                color: aliceblue;
                margin-bottom: 150px;
                margin-right: 50px;

                h1{
                    text-align: end;
                    font-size: 40px;
                    color: azure;
                }
                
                .lemaEmpresa{
                    font-style: italic; /*clase .lemaEmpresa*/
                    font-weight: bold;
                    color: azure;
                    text-align: end;
                }
            }

            
        }




        /*main de contacto*/
            


        .baseCajasInformacion1{
            @include flexColumn;
            align-items: initial;
            border: 2px solid transparent;
            border-radius: 50px;
            margin: 30px 30px 30px 30px;
            padding: 30px;
            background-color: gray;     
                    
        }


        .comoLLegar{
            font-size: 1.2rem;
            font-weight: bold;
        }

        .datos{
            font-size: 20px;
            color: gray;
            font-weight: bold;
            margin: 40px;
        }

        .imgUbicacion{
            width: 500px;
            height: 300px;
            border: 2px solid gray;
        }
    }    
}